.agentic-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: radial-gradient(#ffffff, #f2f2f2) !important;
  padding: 2px 5px 2px 5px;
  margin-left: 69px;
  margin-right: 69px;
  margin-top: 33px;
  margin-bottom: 169px;
  align-items: center;
  width: fit-content;
  margin: 96px auto;
}

.agentic-card p{
    text-align: center;
    font-family: 'Mozilla Headline';
    letter-spacing: 0.13em;
    margin-top: 33px !important;
    margin-bottom: 33px;
    color: #000000;
    
}

.agentic-card a{
    color: #666;
    text-decoration: unset;
}

.agentic-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.agentic-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
  gap: 20px; /* Adds space between columns */
  padding: 2px 5px 20px 5px;
  height: fit-content;
}

.agentic-item {
  //background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .agentic-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (max-width: 480px) {
  .agentic-container {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}


.agent-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.agent-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.agent-card .box{
    padding: 10px;
}

.agent-card .box p{
    margin-top: unset !important;
    margin-bottom: unset !important;
}

.agent-card .box .agent-name{
    font-size: 19px;
    letter-spacing: 0.33em;
    font-weight: 700;
}

.agent-card .box .product-name{
    margin-top: 13px !important;
    margin-bottom: 13px !important;
    letter-spacing: 0.33em;
    font-weight: 300;
}


@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px (e.g., most mobile phones in portrait) */
  .agentic-card{
      margin-left: 96px;
      margin-right: 96px;
  }
}