.title-box{
  //margin-top: 105px !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  padding-top: 70px;
}

.page-title{
  margin-left: 23px;
  margin-top: 33px;
  margin-bottom: 33px;
  text-align: left;
  font-family: "Mozilla Headline", sans-serif !important;
  font-size: 28px;
  letter-spacing: 0.33em;
  font-weight: 400;
  text-transform: unset;
}